FORMAT: 1A
HOST: http://www.exacttargetapis.com/

# Events APIs
Method for retrieving Event information from a single job.

# Group Events

## Jobs Events [/jobs/{id}/events{?fields}]
A single Event object belonging to a job.

+ Parameters
    + id (required, number, `123`) ... Numeric `id` of the Job to retrieve events from
    + fields (optional, string, `sent,delivered,bouncesHard,bouncesSoft,bouncesBLocked,uniqueOpened,uniqueClicked,unsubscribed` ) ... Comma Separated string of event fields to be returned. 

+ Model (application/json)
    JSON Representation of events that have occurred on a job.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/jobs/123/events" },
                    "parent": { "href": /jobs/123" }
                },
                "id": "123",
                "total": {
                    "sent": 18714,
                    "delivered": 18500,
                    "bouncesHard": 14,
                    "bouncesSoft": 100,
                    "bouncesBlocked": 50,
                    "uniqueOpened": 18333,
                    "uniqueClicked": 18222,
                    "unsubscribed": 3
                }
            }

### Retrieve Events for a job [GET]
+ Response 200
    [Jobs Events][]

## Account Events [/account/{mid}/events{?fields,startDate,endDate}]
A collection of all events that have occurred for an account, total.

+ Model (application/json)
    JSON Representation of events that have occurred on an Account, rolled up daily
    + Body
    
            {
                "_links": {
                    "self": { "href": "/account/123/events{?fields,startDate,endDate}" },
                    "parent": { "href": /account/123" }
                },
                "id": "123",
                "sent": 18714,
                "delivered": 18500,
                "bouncesHard": 14,
                "bouncesSoft": 100,
                "bouncesBlocked": 50,
                "uniqueOpened": 18333,
                "uniqueClicked": 18222,
                "unsubscribed": 3
            }

+ Parameters
    + mid (required) ... MID for the account
    + fields (optional, string) ... event fields requested, default is all fields
    + startDate (optional, string) ... ISO8601 formatted Date String, from which to begin collecting events from.  Depending on Precision, this may be rounded to the nearest Day or Hour
    + endDate (optional, string) ... ISO8601 formatted Date string, end time to cap results on.

### Retrieve all Events for an Account [GET]
+ Response 200
    [Account Events][]

## Account Events Daily [/account/{mid}/events/daily{?fields,startDate,endDate}]
A collection of events that have occurred for an account, rolled into 24 hour chunks

+ Model (application/json)
    JSON Representation of events that have occurred on an Account, rolled up daily
    + Body
    
            {
                "_links": {
                    "self": { "href": "/account/123/events/daily/{?fields,startDate,endDate}" },
                    "parent": { "href": /account/123/events/" }
                },
                "id": "123",
                "Events": [
                    {
                        "date" : "2014-02-06T07:06:00Z"
                        "sent": 18714,
                        "delivered": 18500,
                        "bouncesHard": 14,
                        "bouncesSoft": 100,
                        "bouncesBlocked": 50,
                        "uniqueOpened": 18333,
                        "uniqueClicked": 18222,
                        "unsubscribed": 3
                    },
                    {
                        "date" : "2014-02-05T07:06:00Z"
                        "sent": 18714,
                        "delivered": 18500,
                        "bouncesHard": 14,
                        "bouncesSoft": 100,
                        "bouncesBlocked": 50,
                        "uniqueOpened": 18333,
                        "uniqueClicked": 18222,
                        "unsubscribed": 3
                    },
                    {
                        "date" : "2014-02-04T07:06:00Z"
                        "sent": 18714,
                        "delivered": 18500,
                        "bouncesHard": 14,
                        "bouncesSoft": 100,
                        "bouncesBlocked": 50,
                        "uniqueOpened": 18333,
                        "uniqueClicked": 18222,
                        "unsubscribed": 3
                    }
                ]
            }

+ Parameters
    + mid (required) ... MID for the account
    + fields (optional, string) ... event fields requested, default is all fields
    + startDate (optional, string) ... ISO8601 formatted Date String, from which to begin collecting events from.  Depending on Precision, this may be rounded to the nearest Day or Hour
    + endDate (optional, string) ... ISO8601 formatted Date string, end time to cap results on.

### Retrieve Events for an Account with daily precision [GET]
+ Response 200
    [Account Events Daily][]

## Account Events Hourly [/account/{mid}/events/hourly{?fields,startDate,endDate}]
+ Model (application/json)
    JSON Representation of events that have occurred on an Account, rolled up hourly.
    + Body
    
            {
                "_links": {
                    "self": { "href": "/account/123/events" },
                    "parent": { "href": /account/123" }
                },
                "Events": [
                    {
                        "date" : "2014-02-06T01:00:00Z"
                        "sent": 18714,
                        "delivered": 18500,
                        "bouncesHard": 14,
                        "bouncesSoft": 100,
                        "bouncesBlocked": 50,
                        "uniqueOpened": 18333,
                        "uniqueClicked": 18222,
                        "unsubscribed": 3
                    },
                    {
                        "date" : "2014-02-06T02:00:00Z"
                        "sent": 18714,
                        "delivered": 18500,
                        "bouncesHard": 14,
                        "bouncesSoft": 100,
                        "bouncesBlocked": 50,
                        "uniqueOpened": 18333,
                        "uniqueClicked": 18222,
                        "unsubscribed": 3
                    },
                    {
                        "date" : "2014-02-06T03:00:00Z"
                        "sent": 18714,
                        "delivered": 18500,
                        "bouncesHard": 14,
                        "bouncesSoft": 100,
                        "bouncesBlocked": 50,
                        "uniqueOpened": 18333,
                        "uniqueClicked": 18222,
                        "unsubscribed": 3
                    }
                ]
            }

+ Parameters
    + mid (required) ... MID for the account
    + fields (optional, string) ... event fields requested, default is all fields
    + startDate (optional, string) ... ISO8601 formatted Date String, from which to begin collecting events from.  Depending on Precision, this may be rounded to the nearest Day or Hour
    + endDate (optional, string) ... ISO8601 formatted Date string, end time to cap results on.

### Retrieve Events for an Account, with Hourly precision [GET]

+ Response 200
    [Account Events Hourly][]

